name: Build Windows
on:
  workflow_dispatch:
  workflow_call:
permissions:
  contents: write

jobs:
  windows_build:
    runs-on: windows-latest
    defaults:
      run:
        shell: powershell

    steps:
      - name: Checkout Code
        uses: actions/checkout@v5

      - name: Bump version in header
        run: |
          $version = "dev"
          if ( "${{ github.event_name }}" -eq "pull_request" ){
            $version="${{ github.sha }}"
          }
          if ("${{ github.event_name }}" -eq "workflow_dispatch" ){
            $version="${{ github.sha }}"
          } 
          if ( ("${{github.event_name}}" -eq "push") -and ("${{github.ref_type}}" -eq "tag" )){
            $ref="${{ github.ref }}"
            $version=$ref.Split("/")[-1]
          }
          
          Write-Host "Setting version to $version"
          
          $path = "Cell2Fire\Cell2Fire.h"
          (Get-Content $path) -replace 'C2FW_VERSION\s*=\s*".*?"', "C2FW_VERSION = `"$version`"" | Set-Content $path
          
          Select-String 'C2FW_VERSION' $path

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v2

      - name: Build Solution
        run: |
          cd Cell2Fire
          msbuild Cell2Fire.sln /m /t:Clean,Build /p:Configuration=Release /p:Platform=x64 /p:VcpkgEnableManifest=true


      - name: Run Unit Tests
        run: |
          & "Cell2Fire\x64\Release\WindowsTests.exe"
          $exitCode = $LASTEXITCODE
          exit $exitCode

      - name: Run Regression Test
        run: |
          cd test
          ./test.ps1

      - name: Gather output
        run: |
          mkdir binaries
          copy Cell2Fire\x64\Release\*.dll binaries
          copy Cell2Fire\x64\Release\Cell2Fire.exe binaries

      - name: Upload artifact (real or placeholder)
        uses: actions/upload-artifact@v5
        with:
          name: binaries-Windows-x86_64
          path: binaries
